.rr_list {
  width: 1200px;
  min-height: calc(100vh - 368px);
  margin: auto;
}
.rr_list .rr_row_wrap {
  margin: 40px auto;
}
.rr_list .rr_row_wrap .rr_row {
  transition: 300ms;
  cursor: default;
  background-color: #111826;
  border-radius: 4px;
  padding: 20px 20px;
}
.rr_list .rr_row_wrap .rr_row .col_1 {
  flex: 1;
  flex-shrink: 0;
  font-size: 18px;
  line-height: 38px;
  font-family: sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.rr_list .rr_row_wrap .rr_row .col {
  flex: 1;
  flex-shrink: 0;
}
.rr_list .rr_row_wrap .rr_row .col .col_title {
  line-height: 36px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.rr_list .rr_row_wrap .rr_row .col .col_text {
  line-height: 40px;
  font-size: 20px;
  font-family: DIN;
  font-weight: 500;
  color: #FFFFFF;
}
.rr_list .rr_row_wrap .rr_row .col .col_text.link {
  cursor: pointer;
}
.rr_list .rr_row_wrap .rr_row .col .col_text.link:hover {
  text-decoration: underline;
}
.rr_list .rr_row_wrap .rr_row .arrow {
  transition: 300ms;
  cursor: pointer;
  transform: rotate(180deg);
  margin-right: 50px;
}
.rr_list .rr_row_wrap .rr_row .arrow.open {
  transition: 300ms;
  transform: rotate(0deg);
}
.rr_list .rr_row_wrap .rr_row:hover {
  transition: 300ms;
  background-color: rgba(255, 255, 255, 0.2);
}
.rr_list .rr_row_wrap .rp_wrap {
  transition: 200ms;
  background-color: #111826;
  border-radius: 0 0 4px 4px;
  margin-top: 2px;
  transform-origin: top;
  transform: scaleY(0);
  height: 0;
  color: #fff;
  padding: 5px 40px 44px 0;
}
.rr_list .rr_row_wrap .rp_wrap.open {
  transition: 200ms;
  transform: scaleY(1);
  height: 320px;
}
.rr_list .rr_row_wrap .rp_wrap .rp_tabs {
  width: 960px;
}
.rr_list .rr_row_wrap .rp_wrap .ant-tabs-ink-bar {
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(90deg, #F3731B, #F02D50);
}
.rr_list .rr_row_wrap .rp_wrap .ant-tabs-nav::before {
  border-color: transparent;
}
.rr_list .rr_row_wrap .rp_wrap .rp_data_panel {
  width: 960px;
  background: #393C44;
  border-radius: 4px;
  padding: 10px 0 25px 25px;
}
.rr_list .rr_row_wrap .rp_wrap .rp_data_panel .worker_card {
  text-decoration: underline;
  cursor: pointer;
}
.rr_list .rr_row_wrap .rp_wrap .rp_text {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 60px;
}
.rr_list .rr_row_wrap .rp_wrap .rp_card {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 60px;
  width: 25%;
}
.mb_rr_list {
  width: 8.8rem;
  margin: auto;
  background-color: #111826;
  border-radius: 0.4rem;
  margin-top: 0.99rem;
  padding: 0 0.36rem;
}
.mb_rr_list .mbrr_row_wrap {
  padding: 0.36rem 0;
}
.mb_rr_list .mbrr_row_wrap .mbrr_row_content {
  color: #fff;
  padding-bottom: 0.48rem;
  border-top: 0.04rem solid #29303C;
}
.mb_rr_list .mbrr_row_wrap .mbrr_row_content:first-child {
  border-top: none;
}
.mb_rr_list .mbrr_row_wrap .mbrr_row_content .mbrr_name {
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.4rem;
  font-family: Franklin Gothic Medium;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0.19rem 0;
  text-decoration: underline;
  cursor: pointer;
}
.mb_rr_list .mbrr_row_wrap .mbrr_row_content .arrow {
  transition: 200ms;
  width: 0.36rem;
  transform: rotate(180deg);
}
.mb_rr_list .mbrr_row_wrap .mbrr_row_content .arrow.open {
  transform: rotate(0);
}
.mb_rr_list .mbrr_row_wrap .mbrr_row_content .mbrr_row {
  margin-top: 0.44rem;
}
.mb_rr_list .mbrr_row_wrap .mbrr_row_content .mbrr_row .col {
  flex: 1;
}
.mb_rr_list .mbrr_row_wrap .mbrr_row_content .mbrr_row .col_title {
  height: 0.23rem;
  font-size: 0.32rem;
  font-family: Franklin Gothic Medium;
  font-weight: 400;
  color: #FFFFFF;
  opacity: 0.6;
}
.mb_rr_list .mbrr_row_wrap .mbrr_row_content .mbrr_row .col_text {
  height: 0.35rem;
  font-size: 0.4rem;
  font-family: Franklin Gothic Medium;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0.24rem 0;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap {
  transition: 200ms;
  transform-origin: top;
  transform: scaleY(0);
  height: 0;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap.open {
  transform: scaleY(1);
  height: auto;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_tab_pane {
  flex-wrap: wrap;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_tab_pane .mbr_tab {
  width: 2.4rem;
  height: 0.75rem;
  padding: 0 0.21rem;
  margin: 0.28rem 0;
  border-radius: 0.38rem;
  background-color: #29303C;
  font-size: 0.27rem;
  font-family: Franklin Gothic Medium;
  font-weight: 400;
  color: #FFF;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_tab_pane .mbr_tab .icon {
  width: 0.37rem;
  margin-right: 0.2rem;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_tab_pane .mbr_tab.active {
  background: linear-gradient(90deg, #F3731B, #F02D50);
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_panel {
  background-color: #393C44;
  border-radius: 0.41rem;
  padding: 0.2rem 0.3rem 0.3rem;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_panel .mbr_coin_wrap {
  flex-wrap: wrap;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_panel .mbr_coin_wrap .worker_card {
  text-decoration: underline;
  cursor: pointer;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_panel .mbr_coin_wrap .mbr_coin {
  width: 50%;
  height: 1rem;
  font-size: 0.32rem;
  font-family: Franklin Gothic Medium;
  font-weight: 400;
  color: #FFFFFF;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_panel .mbr_coin_wrap .mbr_coin img {
  width: 0.55rem;
  margin-right: 0.25rem;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_panel .mbr_f_row {
  font-size: 0.32rem;
  font-family: Franklin Gothic Medium;
  font-weight: 400;
  color: #AFB0B2;
  line-height: 0.64rem;
}
.mb_rr_list .mbrr_row_wrap .mbrp_wrap .mbr_panel .mbr_f_row .worker_card {
  text-decoration: underline;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */